[Desktop Entry]
Version=1.0
Name=Solitaire
Comment=Solitaire (Ice SSB)
Exec=ice-firefox http://www.solitr.com/
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/solitaire.png
Categories=GTK;Game;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
IceFirefox=www.solitr.com_
