[Desktop Entry]
Version=1.0
Name=Spider Solitaire
Comment=Spider Solitaire (Ice SSB)
Exec=ice-firefox http://www.solitr.com/spider-solitaire-two-suits
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/ice/spidersolitaire.png
Categories=GTK;Game;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=Chromium
StartupNotify=true
IceFirefox=www.solitr.com_spider-solitaire-two-suits
