[Desktop Entry]
Name=Files
Comment=Access and organize files
Exec=nemo %U
Icon=system-file-manager
Terminal=false
Type=Application
X-Unity-IconBackgroundColor=#af4853
StartupNotify=false
Categories=GNOME;GTK;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
Actions=window;open-home;open-computer;open-trash;
X-XFCE-Source=file:///usr/share/applications/nemo.desktop

Path=

[Desktop Action window]
Name=Open a New Window
Exec=nemo

[Desktop Action open-home]
Name=Home
Exec=nemo %U

[Desktop Action open-computer]
Name=Computer
Exec=nemo computer:///

[Desktop Action open-trash]
Name=Trash
Name[en_GB]=Rubbish Bin
Exec=nemo trash:///
